
# Log file
*.log.*
*.log
/.classpath
/.project
.settings/

# Package Files #
package-lock.json
*.zip
*.tar.gz
*.rar

*.project
*.iml
.DS_Store

# dependencies
/node_modules
*.idea*

# production
public/dist/
/build
